MONGODB_URI=mongodb://localhost:27017/annathan-pay
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_PAYPAL_EMAIL=payments@annathanpay.co.za
EXCHANGE_RATE=18.50
SERVICE_FEE_PERCENT=35
